<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.joeldare.classifieds"
        versionCode="100"
        version   = "1.0.0">

    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <name>Classifieds</name>

    <description>
        A quick hyper-local classifeds app.
    </description>

    <author href="http://www.joeldare.com" email="joel@joeldare.com">
        Joel Dare
    </author>
    
    <icon src="icon.png" />
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <preference name="webviewbounce" value="false" />

    <!-- <preference name="permissions" value="none" /> -->
    
    <feature name="http://api.phonegap.com/1.0/camera"/>

</widget>
